<div class="col-sm-10" style="background-color: white; border-top-left-radius: 10px; border-top-right-radius: 10px; height: 100%; margin-left: 8%;">
    <div style="display: flex; text-align: center; border-bottom: 1px solid black; height: 35px;" class="col-sm-12 spaceBetweenBlocks">
        <div class="selectedOption col-sm-4" id="firstStep" style="cursor: pointer;" (click)="changeStep(1, 'firstStep');">Datos de registro</div>
        <div class="unselectedOption col-sm-4" id="secondStep" style="cursor: pointer;" (click)="changeStep(2, 'secondStep');">Datos de la clínica</div>
        <div class="unselectedOption col-sm-4" id="thirdStep" style="cursor: pointer;">Configuración de pagos</div>
    </div>
</div>
<div *ngIf="step == 1">
    <div class="col-sm-10" style="background-color: white; height: 100%; margin-left: 8%;">
        <div style="display: flex; flex-wrap: wrap; clear: both; margin-top: 50px;">
            <div class="col-sm-4">
                <img *ngIf="data.logo  == null" src="assets/img/Rectangle 18.png">
                <img *ngIf="data.logo  != null" src="{{data.logo}}">

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="3 / 3"
                               [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCropped($event)"
                               (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                <div class="Logo-empresa">
                    <p class="pLogo">Logo empresa</p>
                </div>

                <div class="fileStyle">
                    <input type="file" class="inputFileStyle" (change)="fileChangeEvent($event)" required [(ngModel)]="logo" name="logoEntity"
                           #logoEntity="ngModel" />
                </div>
            </div>
            <div class="col-sm-8">
                <div style="display: flex;">
                    <div class="col-sm-4">
                        <p class="labelName">Razón Social</p>
                        <input type="text" name="name" class="inputStyle" [(ngModel)]="data.name" />
                    </div>
                    <div class="col-sm-4">
                        <p class="labelName">Rubro</p>
                        <select class="form-control" name="businessType"
                                id="businessType" required class="form-control inputStyle" readonly disabled [(ngModel)]="rubro">
                            <option *ngFor="let r of rubros" [value]="r.id">{{r.text}}</option>
                        </select>
                    </div>
                </div>
                <div style="display: flex;" class="topSpaceFields">
                    <div class="col-sm-4">
                        <p class="labelName">Dirección</p>
                        <input type="text" name="address" class="inputStyle" [(ngModel)]="data.address" #search />
                    </div>
                    <div class="col-sm-4">
                        <p class="labelName">Ciudad</p>
                        <select class="form-control inputStyle" [value]="-1" name="city" lang="es"
                                name="city" [(ngModel)]="data.city">
                            <option *ngFor="let c of citys" [value]="c.id">{{c.text}}</option>
                        </select>
                    </div>
                </div>
                <div style="display: flex;" class="topSpaceFields">
                    <div class="col-sm-4">
                        <p class="labelName">Contraseña Actual</p>
                        <input type="password" name="password" class="inputStyle" [(ngModel)]="oldPassword" />
                        <p class="smallTextPassword">Tiene que contener 8 caracteres como mínimo</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="labelName">Contraseña Nueva</p>
                        <input type="password" name="repassword" class="inputStyle" [(ngModel)]="newPassword" />
                        <p class="smallTextPassword">Tiene que contener 8 caracteres como mínimo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10" style="background-color: white; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; height: 100%; margin-left: 8%;">
        <div style="text-align: center;" class="spaceBetweenBlocks">
            <div *ngIf="showEndLeyend" style="margin-bottom: 10px;">
                <i>Los datos han sido modificados correctamente</i>
            </div>
            <div class="col-sm-12" style="text-align: center;">
                <button class="acceptButton acceptSize" (click)="sendData()">MODIFICAR</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="step == 2">
    <div class="col-sm-10" style="background-color: white; height: 100%; margin-left: 8%;">
        <div style="clear: both; margin-top: 50px;" class="col-sm-10">
            <p class="labelStyle">AGREGAR DESCRIPCIÓN</p>
            <textarea style="resize: none; width: 100%; height: 195px;" class="descriptionStyle" name="description" [(ngModel)]="data.description"></textarea>
        </div>
        <div style="clear: both; margin-top: 50px;" class="col-sm-10">
            <p class="labelStyle">HORARIOS DE ATENCIÓN</p>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Lunes</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day1.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day1.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Martes</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day2.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day2.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Miércoles</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day3.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day3.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Jueves</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day4.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day4.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Viernes</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day5.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day5.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Sábado</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day6.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day6.end"></span>
            </div>
            <div class="dayDiv col-sm-5">
                <p class="dayStyle">Domingo</p>
                <span class="desdeStyle">desde <input type="time" class="timeInputStyle" [(ngModel)]="day0.start"></span>
                <span class="hastaStyle">hasta <input type="time" class="timeInputStyle" [(ngModel)]="day0.end"></span>
            </div>
        </div>
        <div style="clear: both; margin-top: 50px;" class="col-sm-12">
            <p class="labelStyle">AGREGAR FOTOS</p>
            <div style="display: flex; flex-wrap: wrap; padding-left: 0px;" class="col-sm-12">
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="imageBigServer == null && imageBig == null" src="assets/img/Rectangle 18.png" class="bigImage">
                        <img *ngIf="imageBigServer != null && imageBig == null" src="{{imageBigServer}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent1" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 1)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent1($event)" required [(ngModel)]="imageBig" name="imageBigEntity"
                                   #imageBigEntity="ngModel" />
                            <span (click)="deleteImage('-1')" *ngIf="imageBigServer != null && imageBig == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image1Server == null && image1 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image1Server != null && image1 == null" src="{{image1Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent2" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 2)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent2($event)" required [(ngModel)]="image1" name="image1Entity"
                                   #image1Entity="ngModel" />
                            <span (click)="deleteImage('1')" *ngIf="image1Server != null && image1 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image2Server == null && image2 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image2Server != null && image2 == null" src="{{image2Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent3" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 3)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent3($event)" required [(ngModel)]="image2" name="image2Entity"
                                   #image2Entity="ngModel" />
                            <span (click)="deleteImage('2')" *ngIf="image2Server != null && image2 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image3Server == null && image3 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image3Server != null && image3 == null" src="{{image3Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent4" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 4)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent4($event)" required [(ngModel)]="image3" name="image3Entity"
                                   #image3Entity="ngModel" />
                            <span (click)="deleteImage('3')" *ngIf="image3Server != null && image3 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image4Server == null && image4 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image4Server != null && image4 == null" src="{{image4Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent5" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 5)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent5($event)" required [(ngModel)]="image2" name="image4Entity"
                                   #image4Entity="ngModel" />
                            <span (click)="deleteImage('4')" *ngIf="image4Server != null && image4 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image5Server == null && image5 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image5Server != null && image5 == null" src="{{image5Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent6" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 6)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent6($event)" required [(ngModel)]="image5" name="image5Entity"
                                   #image5Entity="ngModel" />
                            <span (click)="deleteImage('5')" *ngIf="image5Server != null && image5 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image6Server == null && image6 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image6Server != null && image6 == null" src="{{image6Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent7" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 7)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent7($event)" required [(ngModel)]="image6" name="image6Entity"
                                   #image6Entity="ngModel" />
                            <span (click)="deleteImage('6')" *ngIf="image6Server != null && image6 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image7Server == null && image7 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image7Server != null && image7 == null" src="{{image7Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent8" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 8)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent8($event)" required [(ngModel)]="image7" name="image7Entity"
                                   #image7Entity="ngModel" />
                            <span (click)="deleteImage('7')" *ngIf="image7Server != null && image7 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="clear: both;">
                        <img *ngIf="image8Server == null && image8 == null" src="assets/img/Rectangle 18.png" class="smallImage">
                        <img *ngIf="image8Server != null && image8 == null" src="{{image8Server}}" class="smallImage">

                        <image-cropper [imageChangedEvent]="imageChangedEvent9" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                       [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCroppedSubImage($event, 9)"
                                       (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

                        <div class="fileStyle" style="display: flex;">
                            <input type="file" class="inputFileStyle" (change)="fileChangeEvent9($event)" required [(ngModel)]="image8" name="image8Entity"
                                   #image8Entity="ngModel" />
                            <span (click)="deleteImage('8')" *ngIf="image8Server != null && image8 == null" style="cursor: pointer; width: 56%; text-align: right;">X</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-wrap: wrap; padding-left: 0px;" class="col-sm-12">
            </div>
            <div style="display: flex; flex-wrap: wrap; padding-left: 0px;" class="col-sm-12">
            </div>
        </div>
    </div>
    <div class="col-sm-10" style="background-color: white; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; height: 100%; margin-left: 8%;">
        <div style="text-align: center;" class="spaceBetweenBlocks">
            <div *ngIf="showEndLeyend" style="margin-bottom: 10px;">
                <i>Los datos han sido modificados correctamente</i>
            </div>
            <div class="col-sm-12" style="text-align: center;">
                <button class="acceptButton acceptSize" (click)="sendData()">MODIFICAR</button>
            </div>
        </div>
    </div>

</div>

<div *ngIf="step == 3" style="height: 100%;">
    <div class="col-sm-10" style="background-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 100%; margin-left: 8%;">
        <div style="clear: both; margin-top: 50px;" class="col-sm-10">
            <p class="labelStyle">SELECCIONE UNA OPCIÓN</p>
            <div style="clear: both; display: flex; flex-wrap: wrap; margin-left: 6px; margin-top: 25px;">
                <input type="checkbox" [(ngModel)]="mandatoryPayment"> <span class="descriptionStyle checkboxLabelStyle">Activar pago obligatorio para clientes</span>
            </div>
            <div style="clear: both; margin-bottom: 20px; margin-left: 6px;" *ngIf="mandatoryPayment">
                <div>
                    <input type="text" class="inputStyleMandatoryPayment">
                </div>
                <div>
                    <input type="text" class="inputStyleMandatoryPayment">
                </div>
            </div>
            <div style="clear: both; display: flex; flex-wrap: wrap; margin-left: 6px;">
                <input type="checkbox"> <span class="descriptionStyle checkboxLabelStyle">Sólo quiero que mis clientes reserven</span>
            </div>
        </div>
    </div>
</div>