/* DIA CALENDARIO ICONOS*/
.single-paciente{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.single-paciente:hover{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.single-paciente .hover-paciente{
    display: none;
    text-align: right;
    margin-top: 0;
    float: right;
    padding: 0;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.single-paciente:hover .hover-paciente{
    display: inline-block;
    text-align: right;
    margin-top: 0;
    float: right;
    padding: 0;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.hover-paciente i{
  transition: all 0.3s ease-in-out;
  margin-right: 6px;
  font-size: 12.5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}

.hover-paciente i:hover{
  transition: all 0.3s ease-in-out;
  opacity: .7;
}


.single-paciente .turno-paciente{
  text-align: right;
  margin-top: 0;
  float: right;
  padding: 0;
  background: transparent;
}

.single-paciente:hover .turno-paciente{
  display: inline-block;
  text-align: right;
  margin-top: 0;
  float: right;
  padding: 0;
  background: transparent;
}

.turno-paciente i{
margin-right: 6px;
font-size: 12.5px;
display: inline-block;
vertical-align: middle;
margin-top: 4px;
}

.horario-medico{
  transform: translateX(-10px);
}

.picker-fecha {
  width: 100%;
  text-align: center;
  height: 28px;
}

.w100 {
  width: 100%;
}

.turno-cancelado {
  background-color: #aeaeae !important;
  cursor: default !important;
}

.buttonsLabels {
    font-family: sf_ui_displaybold;
    font-size: 13px;
}

.inputLabel {
    font-family: sf_ui_displaymedium;
    font-size: 12px;
}

.tableHeader {
    font-family: sf_ui_displaymedium;
    font-size: 11px;
}

.tableResult {
    font-family: sf_ui_displaylight;
    font-size: 14px;
}

.buttonTitle {
    font-family: sf_ui_displaybold;
    font-size: 13px;
}

.circleFirst {
    border: 0.1em solid #0059fe;
    border-radius: 100%;
    height: 2.3em;
    width: 2.3em;
    text-align: center;
    background-color: #0059fe;
    color: white;
    padding-top: 3px;
}
.circleFirst span {
    margin-top: 1.10em;
    font-size: 13pt;
    font-family: sf_ui_displaybold;
}

.circleSecond {
    border: 0.1em solid grey;
    border-radius: 100%;
    height: 2.3em;
    width: 2.3em;
    text-align: center;
    background-color: white;
    color: grey;
    padding-top: 3px;
}
.circleSecond span {
    margin-top: 1.10em;
    font-size: 13pt;
    font-family: sf_ui_displaylight;
}

.borderSelected {
    border-bottom: 2px solid #0059fe;
}

.borderUnselected {
    border-bottom: none;
}

.upperCase {
    text-transform: uppercase;
}

.inputHeight {
    height: 39px;
}