<section class="calendario-section col-xs-12">

    <!-- Menú -->
    <div class="col-xs-12 col-sm-12 col-md-11 col-md-offset-1">
        <h1 class="col-xxs-12 col-xs-12 col-sm-2">Calendario</h1>

        <div class="menu-calendario col-xs-12 col-sm-3">
            <a (click)="showCalendarWeek()" id="semana-menu">Semana</a>
            <a (click)="showCalendarDay()" id="dia-menu">Día</a>
        </div>

        <div class="menu-calendario col-xs-12 col-sm-5">
            <!-- Especialidad -->
            <div class="form-group">
                <label for="">Especialidad</label>
                <ng-select2 [data]="specialtyOptions" [value]="-1" (valueChanged)="specialtyChange($event)" name="especialidad-calendario-dias" lang="es">
                </ng-select2>
            </div>

            <!-- Sub-especialidad -->
            <div class="form-group">
                <label for="">Sub especialidad</label>
                <ng-select2 [data]="subspecialtyOptions" [value]="-1" (valueChanged)="subspecialtyChange($event)" name="subespecialidad-calendario-dias" lang="es"></ng-select2>
            </div>
        </div>

        <div class="menu-acciones desk col-xs-12 col-sm-2">
            <a (click)="dowloadPdf()"><i *ngIf="isDay" class="fa fa-print"></i></a>
            <a (click)="showRequestAppointment()" id="add-turno">Agregar turno</a>
        </div>
    </div>

    <!-- Días -->
    <section id="calendario-diario" class="dia-calendario col-xs-12 col-sm-12 col-md-11 col-md-offset-1">

        <!-- Horarios -->
        <div class="col-xs-12 col-sm-12 horarios">

            <!-- Prev y Next -->
            <div class="prev-next">
                <a id="prev-btn" (click)="previousDay()"><i class="fa fa-caret-left"></i></a>
                <a id="next-btn" (click)="nextDay()"><i class="fa fa-caret-right"></i></a>
            </div>

            <!-- Días-->
            <div class="dias col-xs-12">

                <!-- Día puntual -->
                <div class="col-xs-12 div-puntual">
                    <div class="col-xs-12 div-fecha"><span>{{ getDayOfWeek() }}</span>, {{ getDate() }}</div>

                    <div class="col-xs-12 div-contenido-fecha-scrolleable">

                        <div class="col-xs-12 col-sm-3 col-3" *ngFor="let data of requestedAppointmentsPerProfessional">

                            <h3>{{ data.professionalFirstName + ' ' + data.professionalLastName | truncate }}
                                <i *ngIf="professionalSubspecialitiesMessage[data.professionalId]" title="Subespecialidades Bloqueadas:{{professionalSubspecialitiesMessage[data.professionalId]}}" class="fa fa-lock" aria-hidden="true" style="cursor: pointer; color: red;" (click)="openLockModal(data.professionalId)"></i>
                                <i *ngIf="!professionalSubspecialitiesMessage[data.professionalId]" class="fa fa-lock" aria-hidden="true" style="cursor: pointer;" (click)="openLockModal(data.professionalId)"></i>
                            </h3>

                            <div class="pacientes-horario col-xs-12" *ngFor="let appointmentData of data.requestedAppointmentsPerHour">

                                <div class="pacientes-medico col-xs-10">
                                    <div class="single-paciente" *ngFor="let appointment of appointmentData.appointments" [ngClass]="{'turno-cancelado': appointment.state == 2, 'reserved': (appointment.state == 1 || appointment.state == 4), 'completed': appointment.state == 3 }" >
                                        <span>{{ getHour(appointment.hour) }}</span>
                                        <p> - {{ appointment.patient }}</p>
                                        <span> - {{appointment.subspecialty}}</span>
                                        <div [hidden]="appointment.state != 3" [ngClass]="{'turno-paciente': appointment.state == 3 }">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div [hidden]="appointment.state != 2" [ngClass]="{'turno-paciente': appointment.state == 2 }">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div [hidden]="(appointment.state != 1) || (appointment.state != 4)" [ngClass]="{'hover-paciente': (appointment.state == 1) || (appointment.state == 4) }" >
                                            <i class="fa fa-check" aria-hidden="true" (click)="completeAppointment(appointment.id)"></i>
                                            <i class="fa fa-times" aria-hidden="true" (click)="showCancelAppointment(appointment.id)"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-2 horario-medico">
                                    {{ appointmentData.hour }}:00
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- // dia puntual -->

            </div>
            <!-- //dias -->

        </div>
        <!-- // horarios -->

    </section>
    <!-- //días -->

    <!-- Semanas -->
    <section id="calendario-semanal" class="semana-calendario col-xs-12 col-sm-12 col-md-11 col-md-offset-1">

        <!-- Horarios -->
        <div class="col-xs-12 col-sm-12 horarios">

            <!-- Prev y Next -->
            <div class="prev-next">
                <a (click)="previousWeek()" id="prev-btn"><i class="fa fa-caret-left"></i></a>
                <a (click)="nextWeek()" id="next-btn"><i class="fa fa-caret-right"></i></a>
            </div>

            <!-- Semanas-->
            <div class="semanas col-xs-12">

                <!-- Semana -->
                <div class="col-xs-12 div-puntual2">
                    <div class="col-xs-12 div-fecha"><span>Lunes</span>, {{ getMondayDate() }} - <span>Domingo</span>, {{ getSundayDate() }}</div>

                        <!-- Días semana -->
                        <div class="col-xs-12 div-contenido-fecha">

                            <div class="col-xs-6 col-sm-2" *ngFor="let weekDay of week;">
                                <h3><span>{{ getDayOfWeekDescription(weekDay.day) }}</span><p>{{ getDateDescription(weekDay.day) }}</p></h3>

                                <div class="pacientes-horario col-xs-12" *ngFor="let weekHour of weekDay.hours;">
                                    <div class="pacientes-turno col-xs-8">
                                        <div [hidden]="weekHour.totalAppointments == 0">{{ weekHour.totalAppointments }} turnos</div>
                                    </div>

                                    <div class="col-xs-4 horario-medico">{{ getHourDescription(weekHour.hour) }}</div>

                                    <div class="modal-turnos" >

                                        <h4 [hidden]="weekHour.totalAppointments != 0">No hay reservaciones</h4>

                                        <h4 [hidden]="weekHour.totalAppointments == 0">Reservaciones</h4>

                                        <ul [hidden]="weekHour.totalAppointments == 0">
                                            <li *ngFor="let specialty of weekHour.appointmentsPerSpecialty;">
                                                {{ specialty.specialtyDescription }} <span>({{ specialty.appointments }})</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- // dias semana -->
                </div>
                <!-- // semana -->

            </div>
            <!-- //semanas -->

        </div>
        <!-- // horarios -->

    </section>
    <!-- //semanas -->

</section>
<!-- // calendario -->


<!-- Agregar turno -->
<div class="col-xs-12 modal-agregar-turno">
    <div class="inside-modal-agregar-turno col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-agregar-turno col-xs-12">
            <h2>Nuevo turno</h2>
            <a (click)="hideRequestAppointment()" class="close-modal-agregar-turno">X</a>
        </div>

        <div class="col-xs-12 buttons-turno table-cluster2">
            <h3 style="font-family: sf_ui_displaysemibold; font-size: 14px;">Seleccione el tipo de Usuario</h3>
            <a (click)="showPatientTab()" id="paciente-turno" class="buttonsLabels">Ya es Paciente</a>
            <a (click)="showClientTab()" id="cliente-turno" class="buttonsLabels">Usuario de Tu Turno</a>
            <a (click)="showNoClientTab()" id="noexiste-turno" class="buttonsLabels">Nuevo Usuario</a>
        </div>

        <!-- Pacientes -->
        <div class="col-xs-12 paciente-cluster">
            <div style="display: flex; border-bottom: 1px solid; margin-top: 35px;">
                <div style="display: flex; margin: 0 auto; cursor: pointer;" id="firstStepParent" class="borderSelected" (click)="isPatientNextStep();">
                    <div class="circleFirst" id="firstStep" style="margin-bottom: 10px;"><span>1</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Seleccionar Cliente</span></div>
                </div>
                <div style="display: flex; margin: 0 auto;" id="secondStepParent" class="borderUnselected">
                    <div class="circleSecond" id="secondStep" style="margin-bottom: 10px;"><span>2</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Completar día y horario</span></div>
                </div>
            </div>

            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientStep == 2" style="z-index: 20;">
                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Fecha</label>
                    <ng-datepicker [(ngModel)]="selectedDate" (ngModelChange)="dateChange($event)" [options]="options" ></ng-datepicker>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Profesional</label>
                    <ng-select2 [data]="professionalOptions" (valueChanged)="professionalChange($event)" [(ngModel)]="professionalOption" name="agregar-turnos" lang="es" style="text-align: center;"></ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Especialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalEspChange($event)">
                        <option *ngFor="let esp of professionalSpecialties" value="{{esp.specialtyId}}">{{esp.specialtyDescription}}</option>
                    </ng-select2>
                </div>
            </div>
            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientStep == 2" style="">

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Subespecialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalSubespChange($event)">
                        <option *ngFor="let subesp of professionalSubspecialties" value="{{subesp.id}}">{{subesp.desc}}</option>
                    </ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Hora</label>
                    <label class="text-lowercase" [hidden]="appointments.length !== 0">El profesional no tiene turnos disponibles para la fecha elegida.</label>
                    <ng-select2 name="appointment" required [(ngModel)]="selectedHour" [hidden]="appointments.length === 0" style="text-align: center;">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let appointment of appointments" [ngValue]="appointment">{{appointment}}</option>
                    </ng-select2>
                </div>

            </div>
            <div class="col-xs-12 center" *ngIf="isPatientStep == 2" style="z-index: 19;">
                <a (click)="isPatientNextStep()" id="add-paciente" class="buttonTitle">ATRAS</a>
                <a (click)="requestAppointmentForPatient()" id="add-paciente" class="buttonTitle">AGREGAR</a>
            </div>

            <div class="col-xs-12 tabla-popup-cliente" *ngIf="isPatientStep == 1">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-5" style="margin-top: 20px;">
                    <div class="col-xs-3 selectClienteLabelEmail">
                        <b>Buscar por Nombre y/o Apellido:</b>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="search-client-email" name="search-client-email" [(ngModel)]="searchEmail">
                    </div>
                    <div class="col-xs-2 selectClienteLabelBuscarIsPatient" style="">
                        <a id="search-cliente" (click)="getAllPatientsByFilter()"><b style="color: #00ae00;">BUSCAR</b></a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-5" style="/*margin-top: 42px;*/">
                    <h3>Seleccionar Paciente</h3>
                </div>
                <div class="col-xs-12 container-de-tabla">
                    <table id="table-agregar-turno" class="table table-sortable">
                        <thead>
                            <tr>
                                <th class="center tableHeader">Seleccionar</th>
                                <th class="tableHeader">Nombre y Apellido</th>
                                <th class="tableHeader">Email</th>
                                <th class="center tableHeader">Turnos Realizados</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let patient of patients; let i = index">
                                <td class="center tableResult"><input type="radio" name="patientRadioGroup" value="i" (change)="selectedPatientChange(patient)"></td>
                                <td class="tableResult">{{ patient.firstName + ' ' + patient.lastName | truncate }}</td>
                                <td class="tableResult">{{ patient.email | truncate }}</td>
                                <td class="center tableResult">{{ patient.reservedAppointments }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 center" *ngIf="isPatientStep == 1">
                <a (click)="isPatientNextStep()" id="add-paciente" class="buttonTitle">SIGUIENTE</a>
            </div>

        </div>

        <!-- Clientes -->
        <div class="col-xs-12 cliente-cluster">

            <div style="display: flex; border-bottom: 1px solid; margin-top: 35px;">
                <div style="display: flex; margin: 0 auto; cursor: pointer;" id="firstStepUserParent" class="borderSelected" (click)="isPatientUserFirstStep()">
                    <div class="circleFirst" id="firstStepUser" style="margin-bottom: 10px;"><span>1</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Seleccionar Cliente</span></div>
                </div>
                <div style="display: flex; margin: 0 auto;" id="secondStepUserParent" class="borderUnselected">
                    <div class="circleSecond" id="secondStepUser" style="margin-bottom: 10px;"><span>2</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Seleccionar día</span></div>
                </div>
            </div>

            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientUserStep == 2" style="z-index: 20;">
                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Fecha</label><br>
                    <ng-datepicker [(ngModel)]="selectedDate" (ngModelChange)="dateChange($event)" [options]="options" ></ng-datepicker>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Profesional</label><br>
                    <ng-select2 style="text-align: center;" [data]="professionalOptions" (valueChanged)="professionalChange($event)" [(ngModel)]="professionalOption" name="agregar-turnos" lang="es"></ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Especialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalEspChange($event)">
                        <option *ngFor="let esp of professionalSpecialties" value="{{esp.specialtyId}}">{{esp.specialtyDescription}}</option>
                    </ng-select2>
                </div>
            </div>

            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientUserStep == 2" style="">

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Subespecialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalSubespChange($event)">
                        <option *ngFor="let subesp of professionalSubspecialties" value="{{subesp.id}}">{{subesp.desc}}</option>
                    </ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Hora</label><br>
                    <label class="text-lowercase" [hidden]="appointments.length !== 0">El profesional no tiene turnos disponibles para la fecha elegida.</label>
                    <ng-select2 style="text-align: center;" name="appointment" required [(ngModel)]="selectedHour" [hidden]="appointments.length === 0">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let appointment of appointments" [ngValue]="appointment">{{appointment}}</option>
                    </ng-select2>
                </div>
            </div>

            <div class="col-xs-12 tabla-popup-cliente" *ngIf="isPatientUserStep == 1">
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-5" style="margin-top: 20px;">
                    <div class="col-xs-3 selectClienteLabelEmail">
                        <b>Buscar por email:</b>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="search-client-email" name="search-client-email" [(ngModel)]="searchClientFilter.email">
                    </div>
                    <div class="col-xs-3 selectClienteLabelDni">
                        <b>Buscar por DNI:</b>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="search-client-dni" name="search-client-dni" [(ngModel)]="searchClientFilter.dni">
                    </div>
                    <div class="col-xs-2 selectClienteLabelBuscar" style="">
                        <a (click)="getAllClientsNonPatients()" id="search-cliente"><b style="color: #00ae00;">BUSCAR</b></a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-5" style="margin-top: 42px;">
                    <h3>Seleccionar Cliente</h3>
                </div>
                <div class="col-xs-12 container-de-tabla">
                    <table id="table-agregar-turno" class="table table-sortable">
                        <thead>
                        <tr>
                            <th class="center tableHeader" style="width: 50%;">Seleccionar</th>
                            <th class="tableHeader text-center">Email</th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center;">
                        <tr *ngFor="let client of clients; let i = index">
                            <td class="center tableResult" style="width: 50%;"><input type="radio" name="clientRadioGroup" value="i" (change)="selectedClientChange(client)"></td>
                            <td class="tableResult">{{ client.email | truncate  }}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 20px;" *ngIf="isPatientUserStep == 1">
                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="firstName" class="inputLabel upperCase">Nombre: </label><br>
                    <input type="text" class="w100 inputHeight" id="firstName" readonly name="firstName" [(ngModel)]="firstName">
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="lastName" class="inputLabel upperCase">Apellido: </label><br>
                    <input type="text" class="w100 inputHeight" id="lastName" readonly name="lastName" [(ngModel)]="lastName">
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="address" class="inputLabel upperCase">Direccion: </label><br>
                    <input type="text" class="w100 inputHeight" id="address" readonly name="address" [(ngModel)]="address">
                </div>
            </div>
            <div class="col-xs-12" *ngIf="isPatientUserStep == 1">
                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="phoneNumber" class="inputLabel upperCase">Telefono: </label><br>
                    <input type="text" class="w100 inputHeight" id="phoneNumber" readonly name="phoneNumber" [(ngModel)]="phoneNumber">
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="dni" class="inputLabel upperCase">Dni: </label><br>
                    <input type="text" class="w100 inputHeight" id="dni" readonly name="dni" [(ngModel)]="dni">
                </div>
            </div>

            <div class="col-xs-12 center ptop" *ngIf="isPatientUserStep == 2" style="z-index: 19;">
                <!--<a (click)="requestAppointmentForClient()" id="add-cliente">Agregar</a>-->
                <a *ngIf="isPatientUserStep == 2" (click)="isPatientUserFirstStep()" id="add-cliente">ATRAS</a>
                <a (click)="requestAppointmentForClient()" id="add-cliente">AGREGAR</a>
            </div>
            <div class="col-xs-12 center ptop" *ngIf="isPatientUserStep == 1">
                <a (click)="isPatientUserNextStep()" id="add-cliente">SIGUIENTE</a>
            </div>
        </div>

        <!-- No existente -->
        <div class="col-xs-12 noexiste-cluster">

            <div style="display: flex; border-bottom: 1px solid; margin-top: 35px;">
                <div style="display: flex; margin: 0 auto; cursor: pointer;" id="firstStepNuevoParent" class="borderSelected" (click)="isPatientNuevoNextStep();">
                    <div class="circleFirst" id="firstStepNuevo" style="margin-bottom: 10px;"><span>1</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Seleccionar Cliente</span></div>
                </div>
                <div style="display: flex; margin: 0 auto;" id="secondStepNuevoParent" class="borderUnselected">
                    <div class="circleSecond" id="secondStepNuevo" style="margin-bottom: 10px;"><span>2</span></div>
                    <div style="padding-left: 6px; padding-top: 5px;"><span style="font-family: sf_ui_displaylight; font-size: 14px;">Completar día y horario</span></div>
                </div>
            </div>

            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientNuevoStep == 2" style="z-index: 20;">
                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Fecha</label><br>
                    <ng-datepicker [(ngModel)]="selectedDate" (ngModelChange)="dateChange($event)" [options]="options" ></ng-datepicker>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Profesional</label><br>
                    <ng-select2 style="text-align: center;" [data]="professionalOptions" (valueChanged)="professionalChange($event)" [(ngModel)]="professionalOption" name="agregar-turnos" lang="es"></ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Especialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalEspChange($event)">
                        <option *ngFor="let esp of professionalSpecialties" value="{{esp.specialtyId}}">{{esp.specialtyDescription}}</option>
                    </ng-select2>
                </div>
            </div>
            <div class="col-xs-12 p-c-2 turno-picker" *ngIf="isPatientNuevoStep == 2" style="">

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Subespecialidad</label>
                    <ng-select2 lang="es" style="text-align: center;" (valueChanged)="professionalSubespChange($event)">
                        <option *ngFor="let subesp of professionalSubspecialties" value="{{subesp.id}}">{{subesp.desc}}</option>
                    </ng-select2>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label class="inputLabel">Hora</label><br>
                    <label class="text-lowercase" [hidden]="appointments.length !== 0">El profesional no tiene turnos disponibles para la fecha elegida.</label>
                    <ng-select2 name="appointment" required [(ngModel)]="selectedHour" [hidden]="appointments.length === 0" style="text-align: center;">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let appointment of appointments" [ngValue]="appointment">{{appointment}}</option>
                    </ng-select2>
                </div>

            </div>

            <div class="col-xs-12 center ptop" *ngIf="isPatientNuevoStep == 2" style="z-index: 19;">
                <a (click)="isPatientNuevoNextStep()" id="add-nuevo-paciente" class="buttonTitle">ATRAS</a>
                <a (click)="requestAppointmentForNonClient()" id="add-nuevo-paciente" class="buttonTitle">AGREGAR</a>
            </div>

            <div class="col-xs-12 center" style="margin-top: 50px;" *ngIf="isPatientNuevoStep == 1">

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="firstName" class="inputLabel upperCase">Nombre: </label><br>
                    <input class="w100 inputHeight" type="text" id="firstName2" name="firstName" [(ngModel)]="firstName" >
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="lastName" class="inputLabel upperCase">Apellido: </label><br>
                    <input class="w100 inputHeight" type="text" id="lastName2" name="lastName" [(ngModel)]="lastName" >
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="address" class="inputLabel upperCase">Direccion: </label><br>
                    <input class="w100 inputHeight" type="text" id="address2" name="address" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="" [(ngModel)]="address" #search>
                </div>

                <div class="col-xs12 col-sm-12">&nbsp;</div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="phoneNumber" class="inputLabel upperCase">Telefono: </label><br>
                    <input class="w100 inputHeight" type="text" minlength="8" maxlength="12" id="phoneNumber2" name="phoneNumber" [(ngModel)]="phoneNumber" >
                    <div *ngIf="invalidPhone" class="alert alert-danger">
                        <div>
                            El teléfono debe contener entre 8 y 12 caracteres
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="dni" class="inputLabel upperCase">Dni: </label><br>
                    <input class="w100 inputHeight" type="text" id="dni2" name="dni" [(ngModel)]="dni" >
                </div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="email" class="inputLabel upperCase">Email: </label><br>
                    <input class="w100 inputHeight" type="text" id="email2" name="email" [(ngModel)]="email" >
                </div>

                <div class="col-xs12 col-sm-12">&nbsp;</div>

                <div class="col-xs-12 col-sm-4 turno-picker-div text-left">
                    <label for="password" class="inputLabel upperCase">Contraseña: </label><br>
                    <input class="w100 inputHeight" type="password" id="password2" name="password" [(ngModel)]="password" >
                </div>
            </div>

            <div class="col-xs-12 center ptop" *ngIf="isPatientNuevoStep == 1">
                <a (click)="isPatientNuevoNextStep()" id="add-nuevo-paciente" class="buttonTitle">SIGUIENTE</a>
            </div>
        </div>
    </div>
</div>
<!-- // agregar turno -->


<!-- Cancelar turno por clinica -->
<div class="col-xs-12 modal-nueva-especialidad" (keyup.enter)="cancelAppointment()">
    <div class="inside-modal-nueva-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-nueva-especialidad col-xs-12">
            <h2>Cancelar turno</h2>
            <a class="close-modal-nueva-especialidad" (click)="closeCancelAppointment()">X</a>
        </div>

        <form action="">

            <!-- Especialidad -->
            <div>
                <div class="col-xs-12 col-md-12">
                    <label for="">Motivo de la cancelacion:</label>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <input type="text" placeholder="Motivo" class="datos-personales" name="cancel" [(ngModel)]="appointmentToCancel.comment">
                </div>
            </div>

            <div class="div-add-especialidad">
                <a id="agregar-especialidad" (click)="cancelAppointment()">Confirmar cancelación</a>
            </div>
        </form>
                
    </div>
            
</div>
<!-- // Cancelar turno por clinica -->

<!-- Bloquear médico por especialidad -->
<div class="col-xs-12 modal-bloquear-especialidad">
    <div class="inside-modal-nueva-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-nueva-especialidad col-xs-12">
            <h2>Bloquear Subespecialidad</h2>
            <a class="close-modal-bloquear-especialidad">X</a>
        </div>

        <form action="">

            <!-- Especialidad -->
            <div>
                <div class="col-xs-12 col-md-12">
                    <label for="">Subespecialidad a bloquear:</label>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <ng-select2 [data]="professionalSubspecialtiesToBlock" [(ngModel)]="professionalSubspecialtyToBlock" [value]="-1" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
            </div>

            <div class="div-add-especialidad">
                <a id="agregar-especialidad" (click)="blockSubspecialty()">Confirmar bloqueo</a>
            </div>

            <div style="margin-top: 30px; margin-bottom: 30px;">
                <hr>
            </div>

            <div>
                <div class="col-xs-12 col-md-12">
                    <label for="">Subespecialidad a desbloquear:</label>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <ng-select2 [data]="professionalSubspecialtiesToUnBlock" [(ngModel)]="professionalSubspecialtyToUnblock" [value]="-1" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
            </div>

            <div class="div-add-especialidad">
                <a id="agregar-especialidad" (click)="unblockSubspecialty()">Confirmar desbloqueo</a>
            </div>
        </form>

    </div>

</div>
<!-- // Bloquear médico por especialidad -->
