<section class="Rectangle-1 ">
  <div class="Rectangle-28">
    <div class="NUESTRO-LOGO">
      <p><a target="_blank"><img src="assets/img/logo.png" alt="Orbit"></a></p>
    </div>
  </div>
  <div class="Rectangle-2">
    <div class="Crear-cuenta ">
      <p>Crear cuenta</p>
      <hr class="Line-27 " size="10" />
    </div>
    <hr class="hrTotal" style="color: #0056b2;" />
    <div class="ContainerForm">
      <div class="row">
        <div class="col-md-1">
          <div class="Rectangle-18">
            <img *ngIf="register.logo  == null" src="assets/img/Rectangle 18.png" class="Rectangle-18">

            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
              [resizeToWidth]="168" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" [style.display]="cropperReady ? null : 'none'"></image-cropper>

            <div class="Logo-empresa">
              <p class="pLogo">Logo empresa</p>
            </div>

            <div class="fileStyle">
              <input type="file" class="" (change)="fileChangeEvent($event)" required [(ngModel)]="register.logo" name="logo"
                #logo="ngModel" />
            </div>
          </div>
        </div>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Razón Social</label>
                  <input type="text" class="form-control inputStyle" id="name" required [(ngModel)]="register.name" name="name"
                    #name="ngModel">
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  nombre requerido
                </div>
              </div>
              <!--<div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Apellido</label>
                  <input type="text" class="form-control inputStyle" id="surname" required [(ngModel)]="register.surname" name="surname"
                         #surname="ngModel">
                </div>
                <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                  apellido requerido
                </div>
              </div>-->
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Email</label>
                  <input type="text" class="form-control inputStyle" id="email" required [(ngModel)]="register.email" name="email"
                    #email="ngModel">
                </div>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                  email requerido
                </div>
              </div>
              <div class="col-md-3">
                <label class="labelStyle">Rubro</label>
                <select [(ngModel)]="register.businessType" class="form-control" name="businessType" #businessType="ngModel"
                  id="businessType" required class="form-control inputStyle">
                  <option *ngFor="let r of rubros" [value]="r.id">{{r.text}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Direccion</label>
                  <input type="text" class="form-control inputStyle" id="Direccion" required [(ngModel)]="register.address" name="address"
                    #address="ngModel" autocorrect="off" autocapitalize="off" spellcheck="off" placeholder="" #search>
                </div>
                <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                  direccion requerida
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Ciudad</label>
                  <select class="form-control inputStyle" [value]="-1" name="city" lang="es" [(ngModel)]="register.city"
                    name="city" #city="ngModel">
                    <option *ngFor="let c of citys" [value]="c.id">{{c.text}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Contraseña</label>
                  <input minlength="6" type="password" class="form-control inputStyle" id="password" required [(ngModel)]="register.password"
                    name="password" #password="ngModel">
                  <span class="spanPassword explanationStyle">Tiene que contener 8 caracteres como mínimo</span>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="labelStyle">Repetir Contraseña</label>
                  <input minlength="6" type="password" class="form-control inputStyle" id="scondPassword" required [(ngModel)]="register.scondPassword"
                    name="scondPassword" #scondPassword="ngModel">
                  <span class="spanPassword explanationStyle">Tiene que contener 8 caracteres como mínimo</span>

                  <div *ngIf="register.password != register.scondPassword" class="alert alert-danger">
                    Las contraseñas no coinciden
                  </div>

                </div>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
    <div class="Rectangle-26 ">
      <button class="REGISTRARME" type="submit" (click)="onSubmit()" [disabled]="!registerForm.form.valid">REGISTRARME</button>
    </div>
    <hr class="hrfinal">

    <div class="login-register">
      <p class="accountGrey alreadyAccount">¿Ya tenés cuenta? <span class="accountBlue initSession"> <a [routerLink]="['/Login']">INICIAR SESIÓN</a>
        </span> </p>
    </div>


    <!-- 
    <div>
      <div class="col-md-12" [style.display]="cropperReady ? null : 'none'">
        <p class="text-center">Recortar Imagen</p>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
          [resizeToWidth]="128" [roundCropper]="false" format="png" outputType="both" (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()" style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
      </div>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email" id="email" required [(ngModel)]="register.email"
              name="email" #email="ngModel">
          </div>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            email requerido
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Password" id="password" required [(ngModel)]="register.password"
              name="password" #password="ngModel">
          </div>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            contraseña requerido
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" id="name" required [(ngModel)]="register.name"
              name="name" #name="ngModel">
          </div>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            nombre requerido
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Descripcion</label>
            <textarea rows="4" class="form-control form-control-alternative" placeholder="Descripcion" id="description"
              [(ngModel)]="register.description" name="description" #description="ngModel"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Ciduad</label>
            <ng-select2 [data]="citys" [value]="-1" name="city" lang="es" [(ngModel)]="register.city" name="city" #city="ngModel"></ng-select2>

          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Direccion</label>
            <input type="text" class="form-control" placeholder="Direccion" id="Direccion" required [(ngModel)]="register.address"
              name="address" #address="ngModel" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
          </div>
          <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            direccion requerida
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Logo</label>
            <input type="file" class="form-control" (change)="fileChangeEvent($event)" required [(ngModel)]="register.logo"
              name="logo" #logo="ngModel" />
          </div>
        </div>

        <div class="col-md-12">
          <label>Rubro</label>
          <select [(ngModel)]="register.businessType" class="form-control" name="businessType" #businessType="ngModel"
            id="businessType" required class="form-control">
            <option *ngFor="let r of rubros" [value]="r.id">{{r.text}}</option>
          </select>
        </div>


        <input type="submit" value="Registrar" [disabled]="!registerForm.form.valid">

      </form>
      <div class="text-center">
        <br><br>
        <a [routerLink]="['/Login']">Login</a>

      </div>
    </div> -->
    <!-- <p>Hecho por <a href="http://orbit.com.ar" target="_blank"><img src="assets/img/logo-footer-orbit.png" alt="Orbit"></a></p> -->
  </div>
</section>