<!-- ESPECIALIDADES -->
<section class="especialidades-section col-xs-12">   
  
    <div class="col-xs-12 col-sm-12 col-md-12">

        <!-- Listado y menu -->
        <div class="col-xs-12 col-sm-12 col-md-12 listado-menu">

            <!-- Menú -->
            <div class="col-xs-12 listado-menu-2">
                <h1 class="col-xxs-12 col-xs-12 col-sm-6">Listado de especialidades ({{ specialties.length }})</h1>


                <div class="menu-acciones desk col-xs-12 col-sm-6">
                    <form action="">
                        <div class="form-group">
                            <input type="search" name="searchDescription" [(ngModel)]="searchDescription" (keyup.enter)="searchSpecialties()">
                            <button type="button" (click)="searchSpecialties()"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <a id="agregar-especialidades" (click)="showAddSpecialty()">Agregar especialidad</a>
                </div>

            </div>
            <!-- // menu -->

            <!-- Listado de especialidades -->
            <div class="col-xs-12 listado-especialidades">
                
                <div class="col-xs-2 col-sm-1 letras">
                    <div id="all" (click)="getSpecialtiesByLetter('*')" >Todas</div>
                    <div id="a" (click)="getSpecialtiesByLetter('A')" >A</div>
                    <div id="b" (click)="getSpecialtiesByLetter('B')" >B</div>
                    <div id="c" (click)="getSpecialtiesByLetter('C')" >C</div>
                    <div id="d" (click)="getSpecialtiesByLetter('D')" >D</div>
                    <div id="e" (click)="getSpecialtiesByLetter('E')" >E</div>
                    <div id="f" (click)="getSpecialtiesByLetter('F')" >F</div>
                    <div id="g" (click)="getSpecialtiesByLetter('G')" >G</div>
                    <div id="h" (click)="getSpecialtiesByLetter('H')" >H</div>
                    <div id="i" (click)="getSpecialtiesByLetter('I')" >I</div>
                    <div id="j" (click)="getSpecialtiesByLetter('J')" >J</div>
                    <div id="k" (click)="getSpecialtiesByLetter('K')" >K</div>
                    <div id="l" (click)="getSpecialtiesByLetter('L')" >L</div>
                    <div id="m" (click)="getSpecialtiesByLetter('M')" >M</div>
                    <div id="n" (click)="getSpecialtiesByLetter('N')" >N</div>
                    <div id="ñ" (click)="getSpecialtiesByLetter('Ñ')" >Ñ</div>
                    <div id="o" (click)="getSpecialtiesByLetter('O')" >O</div>
                    <div id="p" (click)="getSpecialtiesByLetter('P')" >P</div>
                    <div id="q" (click)="getSpecialtiesByLetter('Q')" >Q</div>
                    <div id="r" (click)="getSpecialtiesByLetter('R')" >R</div>
                    <div id="s" (click)="getSpecialtiesByLetter('S')" >S</div>
                    <div id="t" (click)="getSpecialtiesByLetter('T')" >T</div>
                    <div id="u" (click)="getSpecialtiesByLetter('U')" >U</div>
                    <div id="v" (click)="getSpecialtiesByLetter('V')" >V</div>
                    <div id="w" (click)="getSpecialtiesByLetter('W')" >W</div>
                    <div id="x" (click)="getSpecialtiesByLetter('X')" >X</div>
                    <div id="y" (click)="getSpecialtiesByLetter('Y')" >Y</div>
                    <div id="z" (click)="getSpecialtiesByLetter('Z')" >Z</div>
                </div>

                <div class="col-xs-10 col-sm-11 content-especialidades">

                    <div class="col-xs-12  cluster-especialidades" id="divp" *ngFor="let specialty of specialties; let i = index">
                        <div class="col-xs-12 col-sm-12">

                            <div class="col-xs-12 col-sm-3 title-especialidades">
                                <h2>{{ specialty.description }}</h2>
                                <h3><i class="fa fa-stethoscope"></i>Médicos en esta especialidad <span>({{ specialty.doctors }})</span></h3>
                            </div>

                            <div class="col-xs-12 col-sm-8 body-especialidades">
                                <h4>Subespecialidades</h4>
                                <a class="agregar-subespecialidad" (click)="showAddSubspecialty(i)">Agregar subespecialidad</a>
                                <div>
                                    <p *ngFor="let subspecialty of specialty.subspecialties; let j = index">
                                        {{ subspecialty.description }}
                                        <i class="fa fa-pencil" (click)="editSubspecialty(i,j)"></i>
                                        <i class="fa fa-close" (click)="showRemoveSubspecialty(i,j)"></i>
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-1 actions-especialidades">
                                <!-- <a class="edit-especialidades" (click)="showEditSpecialty(i)"><i class="fa fa-pencil"></i></a> -->
                                <a class="delete-especialidades" (click)="showRemoveSpecialty(i)"><i class="fa fa-trash"></i></a>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
            <!-- // listado de especialidades -->
        </div>
        <!-- // listado y menu -->
    </div>
</section>
<!-- // especialidades -->

<!-- Modal Nueva Especialidad -->
<div class="col-xs-12 modal-nueva-especialidad" (keyup.enter)="addSpecialty()">
    <div class="inside-modal-nueva-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-nueva-especialidad col-xs-12">
            <h2>Nueva especialidad</h2>
            <a class="close-modal-nueva-especialidad">X</a>
        </div>

        <form action="">

            <!-- Especialidad -->
            <div>
                <div class="col-xs-12 col-md-12">
                    <label for="">Especialidad</label>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <ng-select2 [data]="specialtyOptions" [value]="-1" (valueChanged)="specialtyChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
            </div>

            <div class="div-add-especialidad">
                <a id="agregar-especialidad" (click)="addSpecialty()">Agregar</a>
            </div>
        </form>
                
    </div>
            
</div>
<!-- // modal nueva especialidad -->

<!-- Modal Nueva Sub especialidad -->
<div class="col-xs-12 modal-nueva-subespecialidad" (keyup.enter)="addSubspecialty()">
    <div class="inside-modal-nueva-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-nueva-subespecialidad col-xs-12">
            <h2>Nueva subespecialidad</h2>
            <a class="close-modal-nueva-subespecialidad">X</a>
        </div>

        <form action="">
            <div class="col-xs-12 col-md-12">
                <label for="">Subespecialidad</label>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <ng-select2 [data]="subspecialtyOptions" [value]="-1" (valueChanged)="subspecialtyChange($event)" name="subespecialidad-medico-seccion" lang="es"></ng-select2>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <br>
                <div><strong>¿Cuanto minútos dura esta consulta?</strong></div>
                <input class="time-input" type="number" step="15" min="15" [(ngModel)]="newSubspecialtyConsultationLength" name="newSubspecialtyConsultationLength">
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <br>
                <div><strong>Indicaciones</strong></div>
                <textarea [(ngModel)]="newSubspecialtyIndication" name="newSubspecialtyIndication"></textarea>
            </div>

            <div class="div-add-especialidad">
                <a id="agregar-subespecialidad" (click)="addSubspecialty()">Agregar</a>
            </div>
        </form>
                
    </div>
            
</div>
<!-- // modal nueva sub especialidad -->

<!-- Modal Editar Sub especialidad -->
<div class="col-xs-12 modal-editar-subespecialidad" (keyup.enter)="sendEditSubscpecialty()">
    <div class="inside-modal-nueva-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-nueva-subespecialidad col-xs-12">
            <h2>Nueva subespecialidad</h2>
            <a class="close-modal-editar-subespecialidad">X</a>
        </div>

        <form action="">
            <div class="col-xs-12 col-md-12">
                <label for="">Subespecialidad</label>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div>{{editSubspecialtyName}}</div>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <br>
                <div><strong>¿Cuanto minútos dura esta consulta?</strong></div>
                <input class="time-input" type="number" step="15" min="15" [(ngModel)]="newSubspecialtyConsultationLength" name="newSubspecialtyConsultationLength">
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <br>
                <div><strong>Indicaciones</strong></div>
                <textarea [(ngModel)]="newSubspecialtyIndication" name="newSubspecialtyIndication"></textarea>
            </div>

            <div class="div-add-especialidad">
                <a id="editar-subespecialidad" (click)="sendEditSubscpecialty()">Agregar</a>
            </div>
        </form>

    </div>

</div>
<!-- // modal Editar sub especialidad -->

<!-- Modal Eliminar Especialidad -->
<div class="col-xs-12 modal-borrar-especialidad" (keyup.enter)="removeSpecialty()">
    <div class="inside-modal-borrar-especialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-borrar-especialidad col-xs-12">
            <h2>Eliminar especialidad</h2>
            <a class="close-modal-borrar-especialidad">X</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            
            <i class="fa fa-trash"></i>

            <p>¿Está seguro que desea <b> eliminar la especialidad "{{ selectedSpecialty.description }}" </b>?</p>
            
        </div>

        <div class="div-borrar-osocial">
            <a id="borrar-especialidad-btn" (click)="removeSpecialty()">Eliminar</a>
            <a id="cancelar-especialidad-btn" (click)="closeRemoveSpecialty()">Cancelar</a>
        </div>
    </div>
</div>
<!-- // modal eliminar especialidad -->

<!-- Modal Eliminar Sub Especialidad -->
<div class="col-xs-12 modal-borrar-subespecialidad" (keyup.enter)="removeSubspecialty()">
    <div class="inside-modal-borrar-subespecialidad col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-borrar-subespecialidad col-xs-12">
            <h2>Eliminar subespecialidad</h2>
            <a class="close-modal-borrar-subespecialidad">X</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            
            <i class="fa fa-trash"></i>

            <p>¿Está seguro que desea <b> eliminar la subespecialidad "{{ selectedSubspecialty.description }}" </b>?</p>
            
        </div>

        <div class="div-borrar-osocial">
                <a id="borrar-subespecialidad-btn" (click)="removeSubspecialty()">Eliminar</a>
                <a id="cancelar-subespecialidad-btn" (click)="closeRemoveSubspecialty()">Cancelar</a>
        </div>

                
    </div>
            
</div>
<!-- // modal eliminar sub especialidad -->

<!-- Modal Informacion -->
<div class="col-xs-12 modal-informacion" (keyup.enter)="closeInformation()">
    <div class="inside-modal-informacion col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-informacion col-xs-12">
            <h2>Especialidades</h2>
            <a class="close-modal-informacion" (click)="closeInformation()">X</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            
                <li>Actualmente no posee ninguna especialidad cargada, para poder agregar una deberá hacer clic en el boton verde que dice "Agregar Especialidad". </li> 
                <li>Una vez agregada una especialdiad podra agregarle a cada una las subespecialidades que desee haciendo clic en el boton "Agregar Subespecialidad" en el recuadro de la Especialidad correspondiente.</li>
            
        </div>

        <div class="div-add-medico">
            <a id="guardar-plan" (click)="closeInformation()">Aceptar</a>
        </div>
    </div>
</div>
<!-- // Modal Informacion -->