<section class="pacientes-section col-xs-12">
  
    <div class="col-xs-12 col-sm-12 col-md-12">

        <!-- Listado y menu -->
        <div class="col-xs-12 col-sm-12 col-md-12 listado-menu">

            <!-- Menú -->
            <div class="col-xs-12 listado-menu-2">
                <h1 class="col-xxs-12 col-xs-12 col-sm-12">Listado de pacientes ({{patients.length}})</h1>

                <div class="menu-pacientes col-xs-12 col-sm-12">
                <form class="col-md-8">
                    <div class="form-group">
                        <label for="">Obra social</label>
                        <ng-select2 [data]="medicalInsuranceFilterOptions" [value]="-1"  (valueChanged)="medicalInsuranceFilterChange($event)" name="especialidad-medico-seccion" lang="es">
                        </ng-select2>
                    </div>
                </form>

                    <div class="menu-acciones desk col-xs-12 col-md-4">
                        <a id="agregar-medico" (click)="showAddPatient()">Agregar nuevo</a>
                    </div>

                </div>

                
            </div>
            <!-- // menu -->

            <!-- Listado de pacientes -->
            <div class="col-xs-12 listado-pacientes">
                
                <div class="table-responsive">          
                    <table id="table-pacientes" class="table table-sortable">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">Nombre y Apellido<i class="fa fa-sort-desc"></i></th>
                                <th onclick="sortTable(1)">Email <i class="fa fa-sort-desc"></i></th>
                                <th onclick="sortTable(2)">Telefono <i class="fa fa-sort-desc"></i></th>
                                <th onclick="sortTable(3)">Obra Social  <i class="fa fa-sort-desc"></i></th>
                                <th>Turnos Totales </th>
                                <th>Turnos Completados </th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let patient of patients; let i = index">
                                <td>{{ patient.firstName + ' ' + patient.lastName | truncate }}</td>
                                <td>{{ patient.email | truncate }}</td>
                                <td>{{ patient.phoneNumber | truncate }}</td>
                                <td>{{ patient.medicalInsurance  | truncate }}/{{ patient.medicalPlan  | truncate }}</td>
                                <td>{{ patient.reservedAppointments}}</td>
                                <td>{{ patient.concretedAppointments}}</td>
                                <td class="actions">
                                    <a (click)="showEditPatient(i)"><i class="fa fa-pencil"></i></a>
                                    <a class="borrar-paciente" (click)="setSelectedPatient(i)"><i class="fa fa-trash"></i></a>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- // listado de pacientes -->
        </div>
        <!-- // listado y menu -->
    </div>
    <!-- // pacientes -->
</section>

<!-- Modal Eliminar Paciente -->
<div class="col-xs-12 modal-borrar-paciente" (keyup.enter)="removeSelectedPatient()">
    <div class="inside-borrar-paciente col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-borrar-paciente col-xs-12">
            <h2>Eliminar paciente</h2>
            <a class="close-borrar-paciente">X</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            
            <i class="fa fa-trash"></i>

            <p>¿Está seguro que desea <b> eliminar a {{ selectedPatientName }}  </b>?</p>
            
        </div>

        <div class="div-borrar-osocial">
            <a id="borrar-medico-btn" (click)="removeSelectedPatient()">Eliminar</a>
            <a id="cancelar-medico-btn" (click)="cancelRemovePatient()">Cancelar</a>
        </div>
                
    </div>
            
</div>
<!-- // modal eliminar paciente -->

<!-- Agregar Paciente -->
<div class="col-xs-12 modal-agregar-paciente">
    <div class="inside-modal-agregar-paciente col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-agregar-paciente col-xs-12">
            <h2>Nuevo Paciente</h2>
            <a (click)="hideAddPatient()" class="close-modal-agregar-paciente">X</a>
        </div>
        <div class="col-xs-12 buttons-turno table-cluster2" style="margin-bottom: 25px;">
            <h3>Seleccione el tipo de Usuario</h3>
            <a (click)="showClientTab()" id="cliente-turno">Usuario registrado en Tu Turno</a>
            <a (click)="showNoClientTab()" id="noexiste-turno">Nuevo Usuario</a>
        </div>
        
        <!-- Clientes -->
        <div class="col-xs-12 cliente-cluster" (keyup.enter)="addPatientForClient()">
           
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="firstName">Nombre: </label>
                    <input type="text" id="firstName" readonly name="firstName" [(ngModel)]="firstName" >
                </div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="lastName">Apellido: </label>
                    <input type="text" id="lastName" readonly name="lastName" [(ngModel)]="lastName" >
                </div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="address">Direccion: </label>
                    <input type="text" id="address" readonly name="address" [(ngModel)]="address" >
                </div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="phoneNumber">Telefono: </label>
                    <input type="text" id="phoneNumber" readonly name="phoneNumber" [(ngModel)]="phoneNumber" >
                </div>
                <div class="col-xs12 col-sm-12">&nbsp;</div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="dni">Dni: </label>
                    <input type="text" id="dni" readonly name="dni" [(ngModel)]="dni" >
                </div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="">Obra social</label>
                    <ng-select2 [data]="medicalInsuranceOptions" [value]="-1" (valueChanged)="medicalInsuranceChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
                <div class="col-xs-12 col-sm-3 turno-picker-div">
                    <label for="">Plan medico</label>
                    <ng-select2 [data]="medicalPlanOptions" [value]="-1" (valueChanged)="medicalPlanChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
            </div>
            
            <div class="col-xs-12 table-cluster">
                <h3>Seleccionar Cliente</h3>
                <div class="col-xs-12 container-de-tabla">
                    <table id="table-agregar-turno" class="table table-sortable">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th class="center">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i = index">
                                <td>{{ client.email }}</td>
                                <td class="center"><input type="radio" name="clientRadioGroup" value="i" (change)="selectedClientChange(client)"></td>
                            </tr>
                        </tbody>
                            
                    </table>
                </div>
            </div>
            
            <div class="col-xs-12 center">
                <a (click)="addPatientForClient()" id="add-cliente">Agregar</a>
            </div>
        </div>

        <!-- No Existe -->
         <div class="col-xs-12 noexiste-cluster" (keyup.enter)="addPatientForNonClient()">

            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="firstName">Nombre: </label><br>
                    <input class="w100" type="text" id="firstName2" name="firstName" [(ngModel)]="firstName" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="lastName">Apellido: </label><br>
                    <input class="w100" type="text" id="lastName2" name="lastName" [(ngModel)]="lastName" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="address">Direccion: </label><br>
                    <input class="w100" type="text" id="address2" name="address" [(ngModel)]="address" >
                </div>
                <div class="col-xs12 col-sm-12">&nbsp;</div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="phoneNumber">Telefono: </label><br>
                    <input class="w100" type="text" id="phoneNumber2" name="phoneNumber" [(ngModel)]="phoneNumber" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="dni">Dni: </label><br>
                    <input class="w100" type="text" id="dni2" name="dni" [(ngModel)]="dni" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="">Obra social</label><br>
                    <ng-select2 [data]="medicalInsuranceOptions" [value]="-1" (valueChanged)="medicalInsuranceChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
                <div class="col-xs12 col-sm-12">&nbsp;</div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="">Plan medico</label><br>
                    <ng-select2 [data]="medicalPlanOptions" [value]="-1" (valueChanged)="medicalPlanChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="email">Email: </label><br>
                    <input class="w100" type="text" id="email2" name="email" [(ngModel)]="email" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="password">Contraseña: </label><br>
                    <input class="w100" type="password" id="password2" name="password" [(ngModel)]="password" >
                </div>
            </div>

            <div class="col-xs-12 center ptop">
                <a (click)="addPatientForNonClient()" id="add-nuevo-paciente">Agregar</a>
            </div>

        </div>

    </div>
</div>
<!-- // agregar paciente --> 

<!-- Editar Paciente -->
<div class="col-xs-12 modal-editar-paciente" (keyup.enter)="editPatientForClient()">
    <div class="inside-modal-editar-paciente col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-editar-paciente col-xs-12">
            <h2>Editar Paciente</h2>
            <a (click)="hideEditPatient()" class="close-modal-agregar-paciente">X</a>
        </div>          
            <div class="col-xs-12 ptop2">
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="firstName">Nombre: </label><br>
                    <input class="w100" type="text" id="firstName-edit" name="firstName" [(ngModel)]="firstName" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="lastName">Apellido: </label><br>
                    <input class="w100" type="text" id="lastName-edit" name="lastName" [(ngModel)]="lastName" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="address">Direccion: </label><br>
                    <input class="w100" type="text" id="address-edit" name="address" [(ngModel)]="address" >
                </div>
                <div class="col-xs12 col-sm-12">&nbsp;</div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="phoneNumber">Telefono: </label><br>
                    <input class="w100" type="text" id="phoneNumber-edit" name="phoneNumber" [(ngModel)]="phoneNumber" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="dni">Dni: </label><br>
                    <input class="w100" type="text" id="dni-edit" name="dni" [(ngModel)]="dni" >
                </div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="">Obra social</label><br>
                    <ng-select2 [data]="medicalInsuranceOptions" [value]="medicalInsurance" (valueChanged)="medicalInsuranceChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
                <div class="col-xs12 col-sm-12">&nbsp;</div>
                <div class="col-xs-12 col-sm-4 turno-picker-div">
                    <label for="">Plan medico</label><br>
                    <ng-select2 [data]="medicalPlanOptions" [value]="medicalPlan" (valueChanged)="medicalPlanChange($event)" name="especialidad-medico-seccion" lang="es">
                    </ng-select2>
                </div>
            </div>

            <div class="col-xs12 col-sm-12">&nbsp;</div>
            <div class="col-xs12 col-sm-12">&nbsp;</div>
            
            <div class="col-xs-12 center">
                <a (click)="editPatientForClient()" id="edit-cliente">Modificar</a>
            </div>
    </div>
</div>
<!-- // editar paciente -->

<!-- Modal Informacion -->
<div class="col-xs-12 modal-informacion" (keyup.enter)="closeInformation()">
    <div class="inside-modal-informacion col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="header-modal-informacion col-xs-12">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <a class="close-modal-informacion" (click)="closeInformation()">X</a>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id ante a justo vestibulum ullamcorper ac in arcu. Maecenas vulputate.
        </div>

        <div class="div-add-medico">
            <a id="guardar-plan" (click)="closeInformation()">Aceptar</a>
        </div>
    </div>
</div>
<!-- // Modal Informacion -->