<section class="loginAdmin">
    <div style="height:700px">
        <div style="text-align: center;">
            <img src="assets/img/logo-reservas.png" style="width: 68%;">
            <h2 style="font-family: sf_ui_displaylight; font-size: 17px; color: #454edb;">Bienvenido a su sistema de reservas</h2>
        </div>
        <div class="bg-white">
            <form action="panel.html" method="">
                <div style="text-align: left; margin-left: 68px;">
                    <span style="font-family: sf_ui_displaymedium; font-size: 12px;">Email</span>
                </div>
                <div id="mail">
                    <input type="email" [(ngModel)]="email" name="email" style="border: 1px solid #707070; font-family: sf_ui_displaylight; border-radius: 8px; font-size: 13px; color: black;">
                </div>
                <div style="text-align: left; margin-left: 68px;">
                    <span style="font-family: sf_ui_displaymedium; font-size: 12px;">Contraseña</span>
                </div>
                <div id="pass">
                    <input type="password" name="password" [(ngModel)]="password" style="border: 1px solid #707070; border-radius: 8px; font-family: sf_ui_displaylight; font-size: 13px; color: black;">
                </div>

                <input type="submit" value="Ingresar" style="background-color: #454edb; font-family: sf_ui_displaybold; font-size: 12px;" (click)="login()">
                <a href="" style="font-family: sf_ui_displaylight; font-size: 13px; color: #454edb;">¿Olvidaste tu contraseña?</a>
                <hr>
                <div style="text-align: center;">
                    <span style="font-family: sf_ui_displaylight; font-size: 11px;">¿Todavía no tenés cuenta? </span>
                    <span style="color: #454edb; font-family: sf_ui_displaysemibold; font-size: 12px; margin-top: 0px !important; cursor: pointer;" [routerLink]="['/Register']" >REGISTRATE</span>
                </div>

            </form>
        </div>
    </div>
</section>